
#root{
    margin: 0;
    padding: 0;
}



.container{
display: flex;
 padding: 0;
  
  
}

.sidebar{

 
 background:linear-gradient(#023859);
 height: 100vh;
 margin-left: 0px;
 border: 3px solid black;
 
   
}
.header{
    display: flex;
    flex-direction: row;
    background:linear-gradient(#023859);
    width: calc(100%- 280px);
  padding: 10px;
 height: 100px;
  border: 3px solid black;
  
 
    
}

.btn.active{
    background-color: #235347;
}

.btn{
   
    width: 150px;
    border: 2px solid black;
     font-weight: bolder;
}
.listBtn{
     display: flex;
    flex-direction: column;
    align-items: center;
    
}

.dashboard{
    display: flex;
    flex-direction: column;
      background:linear-gradient(#023859);
       width: 100%;
      height: 100%;
      padding: 20px;
      border: 3px solid black;


}

#poster{
    
    height: 300px;
    width: 1350px;
    border: 5px solid #235347;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #26658C;
}
#freelancer{
    margin-top: 20px;
    height: 300px;
    width: 1350px;
    border: 5px solid #235347;
    box-sizing: border-box;
    border-radius: 20px;
     background-color: #26658C;
}
.btns{
   
    width: 300px;
    margin: 50px;
    height: 150px;
    border-radius: 10px;
    background:linear-gradient(#235347);
    font-weight: bold;
  
    
}


.div{
     margin-left: 70px;
     gap: 10px;
}
.logout{
   margin-left: 500px;
   width: 200px;
     border: 2px solid black;
   border-radius: 10px;
   background-color:#235347;
}
.Posted-Tasks{
     display: flex;
     flex-direction: column;
    width: 100vw;
    height: 100%;
   background: linear-gradient(white,green);
   padding: 10px;
}
.heading{
    background: linear-gradient(blue,purple);
   border-radius: 10px;
}
.postCreater{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100vw;
    border: 3px solid blue;
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
   
}
#create-post{
    color: green;
     width: 300px;
     border-radius: 10px;
}
.input{
    border-radius: 10px;
    font-weight: bold;
}

.postbox{
    width: 100vw;
    height: 390px;
    border: 5px solid blueviolet;
    margin-top: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background:linear-gradient(lime,blue);
    color:white ;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #0ff,
    0 0 30px #00f;


}
#delete-post{
     color: red;
     width: 300px;
     border-radius: 10px;
}
.container1{
    display: flex;
    flex-direction: column;
     margin-left: 600px;
    width: 500px;
   padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
   background: linear-gradient(darkgreen,blue);
  
}

.container2{
     display: block;
     justify-content: center;
     width: 100vw;
    height: 100vh;
    background-color:rgb(25, 25, 87);

}
.glow-text{
    font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 
    0 0 5px #00f,
    0 0 10px #00f,
    0 0 20px #00f,
    0 0 40px #00f,
    0 0 80px #00f;
}

.datas{
    width: 400px;
    border: 5px solid black;
    border-radius: 10px;
}
#bt1{
    width: 150px;
    height: 45px;
    margin: 5px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: chartreuse;
}
#bt2{
    width: 150px;
     height: 45px;
     border: 5px solid black;
    border-radius: 10px;
    background-color: red;
}
